<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand">
      <img src="Pokedex.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
    </a>
    <form class="d-flex">
      <input type="text" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="filtroNombre" name="filtro" (input)="filtrarPokemons()">
    </form>
  </div>
</nav>

<div class="pokedex-container" >
  <div class="col-8">
    <table class="table table-bordered tabla-transparente">
      <thead>
        <tr>
          <th class="cabecera">ID</th>
          <th class="cabecera">Nombre</th>
          <th class="cabecera">Imagen</th>
          <th class="cabecera">Tipo primario</th>
          <th class="cabecera">Tipo secundario</th>
        </tr>
      </thead>
      <tbody class="tabla tabla-transparente">
        @for (p of pokemonFiltrados(); track p.id) {
          <tr (click)="mostrarDetalle(p)" style="cursor: pointer;">
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>
              <img [src]="p.sprites.front_default" width="150" alt="{{ p.name }}">
            </td>
            <td [ngClass]="getColorClase(p)">
              {{ getTipoPrimario(p) }}
            </td>
            <td [ngClass]="getColorClase(p)">
              {{ getTipoSecundario(p) }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="modal" *ngIf="pokemonSeleccionado">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h2>#{{ pokemonSeleccionado.id }} - {{ pokemonSeleccionado.name }}</h2>
    <img [src]="pokemonSeleccionado.sprites.front_default" width="150" alt="{{ pokemonSeleccionado.name }}">
    <p><strong>Altura:</strong> {{ pokemonSeleccionado.height }}</p>
    <p><strong>Peso:</strong> {{ pokemonSeleccionado.weight }}</p>
    <p><strong>Habilidades:</strong>
      <span *ngFor="let ab of pokemonSeleccionado.abilities; let last = last">
        {{ ab.ability.name }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </div>
</div>

